
// ----- Colors ----- //

$gray-base:              #1b252e;
$gray-darker:            #232e39;
$gray-dark:              #3e4960;
$gray:                   #7787a1;
$gray-light:             #d6dff0;
$gray-lighter:           #e8f0fa;

$brand-primary:         #0A48C1;
$brand-success:         #00AA44;
$brand-info:            #AE00FF;
$brand-warning:         #C1BB0A;
$brand-danger:          #B75909;


// layout //
$header-height: 90px;
