
// ----- Colors ----- //

$gray-base:              #1b252e;
$gray-darker:            #232e39;
$gray-dark:              #3e4960;
$gray:                   #7787a1;
$gray-light:             #d6dff0;
$gray-lighter:           #e8f0fa;

$brand-primary:         #698CCE;
$brand-success:         #7FAD83;
$brand-info:            #91C0E8;
$brand-warning:         #F7B5C0;
$brand-danger:          #F3908B;


// layout //
$header-height: 90px;
